{% extends 'shows/base.html' %}
{% load staticfiles %}

{% block title %}my.FM: No 1 Radio on Demand Service Provider{% endblock %}

{% block body %}
<div id="site-content">
        <div id="site-content-inner">
            <main id="main">
                <div class="pt-4 pt-lg-5"></div>
                <div class="master-container-fluid">
                    <div class="tabs-content overflow-h">
                        <div id="browse-overview" class="inactive-hide active">
                            <div class="adonis-carousel music-img-box-cont-lg adonis-animate" data-animation="cardDealer" data-animation-item=".owl-item.active" data-auto-height="yes" data-scrollbar="yes" data-auto-width="yes" data-loop="no" data-dots="yes" data-responsive-width="0:100%|600:50%|1200:40%">
    <div class="gutter-30 gutter-xl-40">
        <div class="owl-carousel owl-theme-adonis">
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-lg img-box-lg">
                        <img class="retina" src="{{ station.st_icon.url }}" data-2x="../assets/images/playlists/browse-overview-1@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-top-right pr-e-percent-5 pt-e-percent-5">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                            <div class="absolute-center">
                                <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <p class="active-color-2 caps mb-1">New Show</p>
                        <h2 class="title h3-md"><a href="#">The Ones That Like Me</a></h2>
                        <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box mb-e-40">
                    <div class="img-box box-rounded-lg img-box-lg">
                        <img class="retina" src="../assets/images/browse/browse-overview-08.jpg" data-2x="../assets/images/playlists/browse-overview-3@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-top-right pr-e-percent-5 pt-e-percent-5">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                            <div class="absolute-center">
                                <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <p class="active-color-2 caps mb-2">Featured artist</p>
                        <h4 class="title h3-md"><a href="#">Taylor lachini</a></h4>
                        <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                    </div>
                </div>
                <div class="row gutter-xl-40">
                    <div class="col-6">
                        <div class="music-img-box">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-18.jpg" data-2x="../assets/images/playlists/browse-overview-18@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">New album</p>
                                <h4 class="title"><a href="#">WHAT Makes Your Country </a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="music-img-box">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-6.jpg" data-2x="../assets/images/playlists/browse-overview-6@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">Adonis Music Pop</p>
                                <h4 class="title"><a href="#">This One's for You</a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row gutter-xl-40">
                    <div class="col-6">
                        <div class="music-img-box mb-e-40">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-09.jpg" data-2x="../assets/images/playlists/browse-overview-09@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">New album</p>
                                <h4 class="title"><a href="#">WHAT Makes Your Country </a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="music-img-box mb-e-40">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-5.jpg" data-2x="../assets/images/playlists/browse-overview-5@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">New album</p>
                                <h4 class="title"><a href="#">WHAT Makes Your Country </a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter-xl-40">
                    <div class="col-6">
                        <div class="music-img-box">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-19.jpg" data-2x="../assets/images/playlists/browse-overview-19@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">New album</p>
                                <h4 class="title"><a href="#">WHAT Makes Your Country </a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="music-img-box">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-20.jpg" data-2x="../assets/images/playlists/browse-overview-20@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">New album</p>
                                <h4 class="title"><a href="#">WHAT Makes Your Country </a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row gutter-xl-40">
                    <div class="col-6">
                        <div class="music-img-box mb-e-40">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-18.jpg" data-2x="../assets/images/playlists/browse-overview-18@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">New album</p>
                                <h4 class="title"><a href="#">WHAT Makes Your Country </a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="music-img-box mb-e-40">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-6.jpg" data-2x="../assets/images/playlists/browse-overview-6@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">Adonis Music Pop</p>
                                <h4 class="title"><a href="#">This One's for You</a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter-xl-40">
                    <div class="col-6">
                        <div class="music-img-box">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-4.jpg" data-2x="../assets/images/playlists/browse-overview-3@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">Adonis Music Pop</p>
                                <h4 class="title"><a href="#">This One's for You</a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="music-img-box">
                            <div class="img-box box-rounded-lg img-box-lg">
                                <img class="retina" src="../assets/images/browse/browse-overview-6.jpg" data-2x="../assets/images/playlists/browse-overview-6@2x.jpg" alt="">
                                <div class="hover-state">
                                    <div class="absolute-top-right pr-e-percent-10 pt-e-percent-10">
                                        <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                    </div>
                                    <div class="absolute-center">
                                        <span class="pointer play-btn-dark  round-btn"><i class="play-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="active-color-2 caps mb-2">Adonis Music Pop</p>
                                <h4 class="title"><a href="#">This One's for You</a></h4>
                                <h5 class="sub-title"><a href="#">Danielle Bradbery</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-1 mb-3 pb-xl-4 mb-xl-4"></div>
<hr>
<div class="pb-1 mb-3 pb-xl-5 mb-xl-1"></div>
<section>
    <div class="d-flex">
        <div class="title-box">
            <h6 class="sub-title inactive-color">Featured</h6>
            <h2 class="title h3-md">Shows</h2>
        </div>
        <div class="button-right ml-auto ml-auto d-flex align-items-end">
            <a href="#" class="mb-4">See all <span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span></a>
        </div>
    </div>
    <div class="adonis-carousel music-img-box-cont-sm viewport-animate" data-animation="slideUp" data-animation-item=".item" data-dots="yes" data-auto-width="yes" data-responsive-width="0:50%|400:33.33%|600:25%|800:20%|1000:16.667%|1200:14.285%|1400:12.5%|1600:10%">
        <div class="gutter-30">
            <div class="owl-carousel owl-theme-adonis">
                {% for show in all_shows %}
                <div class="item">
                    <div class="music-img-box mb-e-30 mb-e-md-40">
                        <div class="img-box box-rounded-md img-box-md">
                          <a href="{% url 'shows:show' show.slug %}">
                            <img class="retina" src="{{ show.shw_icon.url }}" alt="">
                            </a>
                            </div>
                        </div>
                        <h6 class="title"><a href="{% url 'shows:show' show.slug %}">{{ show.shw_title }}</a></h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    <div class="pt-e-20 pt-e-lg-40"></div>
</section>
<section class="viewport-animate" data-animation="slideUp" data-animation-item=".col-md-4">
    <div class="row">
        <div class="col-md-4">
            <div class="img-box-text-over lg box-rounded-lg mb-4">
                <img src="{% static 'shows/images/this-week/popular-album-week.jpg' %}" alt="">
                <div class="hover-state show">
                    <div class="absolute-top-left pl-e-percent-10 pt-e-percent-8">
                        <h6 class="text-light">POPULAR ALBUM THIS WEEK</h6>
                    </div>
                    <div class="absolute-bottom-right pr-e-percent-8 pb-e-percent-8">
                        <a href="#" class="text-light"><i class="icon-arrow-right2"></i> View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-box-text-over lg  box-rounded-lg mb-4">
                <img src="{% static 'shows/images/this-week/new-songs-week.jpg' %}" alt="">
                <div class="hover-state show">
                    <div class="absolute-top-left pl-e-percent-10 pt-e-percent-8">
                        <h6 class="text-light">NEW SONG THIS WEEK</h6>
                    </div>
                    <div class="absolute-bottom-right pr-e-percent-8 pb-e-percent-8">
                        <a href="#" class="text-light"><i class="icon-arrow-right2"></i> View all <span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-box-text-over lg box-rounded-lg mb-4">
                <img src="{% static 'shows/images/this-week/popular-artists-week.jpg' %}" alt="">
                <div class="hover-state show">
                    <div class="absolute-top-left pl-e-percent-10 pt-e-percent-8">
                        <h6 class="text-light">TOP ARTISTS</h6>
                    </div>
                    <div class="absolute-bottom-right pr-e-percent-8 pb-e-percent-8">
                        <a href="#" class="text-light"><i class="icon-arrow-right2"></i> View all <span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-xl-5 pb-4"></div>
</section>
    <div class="d-flex">
        <div class="title-box">
            <h6 class="sub-title inactive-color">All</h6>
            <h2 class="title h3-md">Radio</h2>
        </div>
        <div class="button-right ml-auto ml-auto d-flex align-items-end">
            <a href="#" class="mb-4">See all <span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span></a>
        </div>
    </div>
    <div class="adonis-carousel viewport-animate" data-animation="slideUp" data-animation-item=".owl-item.active" data-dots="yes" data-auto-width="yes" data-responsive-width="0:100%|300:50%|560:33%|820:25%|980:20%|1240:16.66%">
        <div class="gutter-30">
            <div class="owl-carousel owl-theme-adonis">
                {% for station in all_radio %}
                <div class="item">
                    <div class="music-img-box">
                        <div class="img-box box-rounded-md">
                            <img class="retina" src="{{ station.st_icon.url }}" alt="" style="width: 200px;height: 200px;">
                            <div class="hover-state">
                                <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                    <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                                </div>
                                <div class="absolute-top-right pr-e-20 pt-e-20">
                                    <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="title"><a href="{% url 'shows:stations' station.slug %}">{{ station }}</a></h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pt-e-20 pt-e-lg-40"></div>
<section>
    <div class="adonis-carousel viewport-animate" data-animation="slideUp" data-animation-item=".owl-item.active" data-dots="yes"  data-auto-width="yes" data-responsive-width="0:100%|500:50%|730:33.33%|1100:25%|1460:20%">
        <div class="gutter-30">
            <div class="owl-carousel owl-theme-adonis">
                <div class="item">
                    <div class="img-box-text-over lg box-rounded-lg">
                        <img src="../assets/images/radios/radios-1.jpg" data-2x="../assets/images/radios/radios-1@2x.jpg" alt="">
                        <div class="absolute-info d-flex flex-column justify-content-between">
                            <div class="pt-3 pt-lg-4 pl-3 pl-lg-4 h5 text-light">FEATURED RADIO</div>
                            <div>
                                <h4 class="fs-7 m-0 text-light text-center"><span class="font-weight-bold">Adonis</span><br>
                                    <em><span class="font-weight-light">Radio Today</span> </em></h4>
                            </div>
                            <div class="pb-3 pb-lg-4 pr-3 pr-lg-4 ml-auto">
                                <a href="#" class="color-white">View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box-text-over lg box-rounded-lg">
                        <img src="../assets/images/radios/radios-2.jpg" data-2x="../assets/images/radios/radios-2@2x.jpg" alt="">

                        <div class="absolute-info d-flex flex-column justify-content-between">
                            <div class="pt-3 pt-lg-4 pl-3 pl-lg-4 h6 text-light">FEATURED RADIO</div>
                            <div>
                                <h4 class="fs-7 m-0 text-center text-light"><span class=" color-active font-weight-bold">Adonis</span><br>
                                    <em><span class="font-weight-light">Discover</span> </em></h4>
                            </div>
                            <div class="pb-3 pb-lg-4 pr-3 pr-lg-4 ml-auto">
                                <a href="#" class="color-white">View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box-text-over lg box-rounded-lg">
                        <img src="../assets/images/radios/radios-3.jpg" data-2x="../assets/images/radios/radios-3@2x.jpg" alt="">

                        <div class="absolute-info d-flex flex-column justify-content-between">
                            <div class="pt-3 pt-lg-4 pl-3 pl-lg-4 h6 text-light">FEATURED RADIO</div>
                            <div>
                                <h4 class="fs-7 m-0 text-dark text-center"><span class="font-weight-bold">Adonis</span><br>
                                    <em><span class="font-weight-light">Top Song from Genre</span> </em></h4>
                            </div>
                            <div class="pb-3 pb-lg-4 pr-3 pr-lg-4 ml-auto">
                                <a href="#" class="color-white">View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box-text-over lg box-rounded-lg">
                        <img src="../assets/images/radios/radios-4.jpg" data-2x="../assets/images/radios/radios-4@2x.jpg" alt="">

                        <div class="absolute-info d-flex flex-column justify-content-between">
                            <div class="pt-3 pt-lg-4 pl-3 pl-lg-4 h6 text-light">FEATURED RADIO</div>
                            <div>
                                <h4 class="fs-7 m-0 text-light text-center"><span class="font-weight-bold color-pink">Adonis</span><br>
                                    <em><span class="font-weight-light">Original Playlists</span> </em></h4>
                            </div>
                            <div class="pb-3 pb-lg-4 pr-3 pr-lg-4 ml-auto">
                                <a href="#" class="color-white">View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box-text-over lg box-rounded-lg">
                        <img src="../assets/images/radios/radios-5.jpg" data-2x="../assets/images/radios/radios-5@2x.jpg" alt="">
                        <div class="absolute-info d-flex flex-column justify-content-between">
                            <div class="pt-3 pt-lg-4 pl-3 pl-lg-4 h6 text-light">FEATURED RADIO</div>
                            <div>
                                <h4 class="fs-7 m-0 text-light text-center"><span class="font-weight-bold color-active">Adonis</span><br>
                                    <em><span class="font-weight-light">A wide range of voices</span> </em></h4>
                            </div>
                            <div class="pb-3 pb-lg-4 pr-3 pr-lg-4 ml-auto">
                                <a href="#" class="color-white">View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box-text-over lg box-rounded-lg">
                        <img src="../assets/images/radios/radios-5.jpg" data-2x="../assets/images/radios/radios-5@2x.jpg" alt="">
                        <div class="absolute-info d-flex flex-column justify-content-between">
                            <div class="pt-3 pt-lg-4 pl-3 pl-lg-4 h6 text-light">FEATURED RADIO</div>
                            <div>
                                <h4 class="fs-7 m-0 text-light text-center"><span class="font-weight-bold color-active">Adonis</span><br>
                                    <em><span class="font-weight-light">A wide range of voices</span> </em></h4>
                            </div>
                            <div class="pb-3 pb-lg-4 pr-3 pr-lg-4 ml-auto">
                                <a href="#" class="color-white">View all<span class="adonis-icon pl-1 icon-arrow icon-1x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right" /></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pt-e-20 pt-e-lg-40"></div>
                        </div>
                        <div id="browse-new-music" class="inactive-hide"></div>
                        <div id="browse-news" class="inactive-hide"></div>
                        <div id="browse-playlists" class="inactive-hide"></div>
                        <div id="browse-charts" class="inactive-hide"></div>
                        <div id="browse-genres" class="inactive-hide"></div>
                        <div id="browse-videos" class="inactive-hide"></div>
                    </div>
                </div>
            </main>
        </div><!--/#site-content-inner-->
    </div><!--/#site-content-->

{% endblock %}
