{% extends 'shows/base.html' %}
{% load staticfiles %}

{% block title %}my.FM: Radio Stations{% endblock %}

{% block body %}
    <!-- Main Boy -->
    <div id="page-wrapper">
        <div class="inner-content">
          <div class="music-browse">

              <!--Radio Stations DIV-->
                <div class="browse">
                    <div class="tittle-head two">
                        <h3 class="tittle" style="text-align: center">RADIO STATIONS</h3>
                        <div class="clearfix"> </div>
                    </div>
                    <hr style="margin-top: -10px">
                    {% for station in all_radio %}
                        <div class="col-md-3">
                            <a href="{% url 'shows:stations' station.slug %}"><img src="{{ station.st_icon.url }}" style="width: 253px; height: 253px; border-radius: 15px !important; border-top: solid 1px #0b0b0b; border-bottom: solid 1px #b10404"></a>
                            <a class="sing" href="{% url 'shows:stations' station.slug %}">{{ station }}</a>
                        <div class="clearfix"></div><hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
           