{% extends 'shows/base.html' %}
{% load staticfiles %}

{% block title %}my.FM: Radio Stations{% endblock %}

{% block body %}
<div id="site-content">
        <div id="site-content-inner">
            <div class="pt-4 pt-lg-5"></div>
            <div class="master-container-fluid">
                <main id="main">
                    <div class="title-box">
                        <h4 class="title h3">All &amp; Shows</h4>
                    </div>
                    <div class="row auto-fit-columns adonis-animate" data-animation="slideUp" data-animation-item=".music-img-box" data-item-width="230" data-item-max-width="260">
                        <div class="col-auto">
                            <div class="music-img-box mb-e-30 mb-e-lg-40">
                                <div class="img-box box-rounded-sm">
                                    <img class="retina" src="../assets/images/new-releases/new-releases-44.jpg" data-2x="assets/images/new-releases/new-releases-44@2x.jpg" alt="">
                                    <div class="hover-state">
                                        <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                            <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                                        </div>
                                        <div class="absolute-top-right pr-e-20 pt-e-20">
                                            <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="title"><a href="#">Roll n Peace Remix</a></h6>
                                <p class="sub-title category"><a href="#">Imagine</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary align-content-center mb-5">Load More</button>
                    </div>
                </main>
                <div class="pt-e-20 pt-e-lg-40"></div>
            </div>
        </div><!--/#site-content-inner-->
    </div><!--/#site-content-->
{% endblock %}