<!--
my.FM Base template
Built by A.Kimani
Base built by w3Schools
-->

{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}my.FM: Keep Calm and Listen :){% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'shows/images/icon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="my.FM" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="{% static 'shows/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'shows/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'shows/css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shows/css/icon-font.css' %}" type='text/css' />
    <script src="{% static 'shows/js/jquery-2.1.4.js' %}"></script>
    <style>
        #bar {
            position:absolute;
            width:0%;
            height:5px;
            top:0;
            left:0;
            z-index:9;
            border-radius: 3px;
            background:#00ace5;
        }
    </style>
    <script>
        var pg=0; //progress bar width initially
        document.onreadystatechange = function()
        {
            if(document.readyState=="interactive")
            {
                var allElem = $("*");
                var length = allElem.length;
                for(var i=0;i<length;i++) {
                    set_elem(allElem[i],length);
                }
            }
        }

        function  set_elem(elem,total) {
            var percent_inc = 100 / total; //equally divide 100 among all elements

            //if element is loaded
            if($(elem).length==1) {
                $('#bar').animate({width:pg+percent_inc+"%"},10,function(){
                    if(document.getElementById("bar").style.width=="100%") {
                        //hide the bar
                        $('#bar').fadeOut(350);
                    }
                });
                //update the previous width value
                pg = pg+percent_inc;
            }
        }
    </script>
</head>

<body class="sticky-header left-side-collapsed" style="margin-left: -70px"  onload="initMap()">
<section>

    <div class="main-content">
        <!-- header-starts -->
        <div class="header-section" style="margin-left: -50px">
            <div id="bar"></div>
            <!--toggle button start-->
            <a href="{% url 'home' %}"><img src="/static/shows/images/logo_vert.png" style="width: 60px; height: 50px; margin-left: 20px"></a>

            <!--toggle button end-->
            <div class="clearfix"> </div>
            <div class="menu-right">
                <div class="profile_details">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4" style="margin-top: -40px; margin-bottom: 5px">
                        <div class="col-md-2" style="margin-left: 20px;float: right">
                            <a href="{% url 'login' %}">
                                <button class="btn btn-danger" style="float: right;">
                                    LogIn
                                </button>
                            </a>
                        </div>
                        <div class="col-md-2" style="margin-left: 20px;float: right">
                            <a href="{% url 'join' %}">
                                <button class="btn btn-primary" style="float: right;">
                                    Join Us!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% block body %}

        {% endblock %}

        <div class="clearfix"></div>

        <!--
        <div class="footer">
            <div class="footer-grid">
                <h3>Navigation</h3>
                <ul class="list1">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="radio.html">All Songs</a></li>
                  <li><a href="browse.html">Albums</a></li>
                  <li><a href="radio.html">New Collections</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Our Account</h3>
                <ul class="list1">
                  <li><a href="#" data-toggle="modal" data-target="#myModal5">Your Account</a></li>
                  <li><a href="#">Personal information</a></li>
                  <li><a href="#">Addresses</a></li>
                  <li><a href="#">Discount</a></li>
                  <li><a href="#">Orders history</a></li>
                  <li><a href="#">Addresses</a></li>
                  <li><a href="#">Search Terms</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Our Support</h3>
                <ul class="list1">
                  <li><a href="contact.html">Site Map</a></li>
                  <li><a href="#">Search Terms</a></li>
                  <li><a href="#">Advanced Search</a></li>
                  <li><a href="#">Mobile</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Addresses</a></li>
                </ul>
              </div>
                  <div class="footer-grid">
                    <h3>Newsletter</h3>
                    <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                    <div class="search_footer">
                     <form>
                       <input type="text" placeholder="Email...." required="">
                      <input type="submit" value="Submit">
                      </form>
                    </div>
                 </div>
                 <div class="footer-grid footer-grid_last">
                    <h3>About Us</h3>
                    <p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam,.</p>
                    <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;00-250-2131</p>
                    <p class="email">Email : &nbsp;<span><a href="mailto:mail@example.com">info(at)mailing.com</a></span></p>
                 </div>
                 <div class="clearfix"> </div>
                </div>
                -->

        <!--footer section start-->
        <footer style="margin-left: 18px;float: bottom;">
            <p>&copy 2019 my.FM  All Rights Reserved.</p>
        </footer>
        <!--footer section end-->
    </div>
</section>

<script src="{% static 'shows/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'shows/js/scripts.js' %}"></script>
<script src="{% static 'shows/js/bootstrap.js' %}"></script>
<input type="hidden" id="progress_width" value="0">
</body>
</html>