{% extends 'landing/home-base.html' %} 
{% load staticfiles %} 

{% block body %}
<!-- 
    This is the main index landing page template.
-->

<!-- Main Body -->
<div id="page-wrapper" style="margin-top: -40px">
    <div class="inner-content">

        <!-- Top Section Header -->
        <div class="browse">
            <!--Left section-->
            <div class="music-left">

                <!-- Slider Banner Section -->
                <div class="banner-section">
                    <div class="banner">
                        <div class="callbacks_container">
                            <ul class="rslides callbacks callbacks1" id="slider4">
                                <li>
                                    <div class="banner-img">
                                        <img src="{% static 'shows/images/banner1.png'%}" class="img-responsive" alt="">
                                    </div>
                                    <div class="banner-info" style="position: absolute; right: 1px; text-align: right; margin-right: 150px;">
                                        <a class="trend" href="">WELCOME</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-img">
                                        <img src="{% static 'shows/images/radio2.png'%}" class="img-responsive" alt="">
                                    </div>
                                    <div class="banner-info">
                                        <a class="trend" href="">NOW</a>
                                        <h3>Kill the FOMO</h3>
                                        <p>Don't miss out on your fav <span>Show :)</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-img">
                                        <img src="{% static 'shows/images/mic.jpg'%}" class="img-responsive" alt="">
                                    </div>
                                    <div class="banner-info">
                                        <a class="trend" href="">WHAT'S ON YOUR MIND?</a>
                                        <h3>Let's give your thoughts a voice</h3>
                                        <p style="color: #0b0b0b">Speak your mind and let your friends <span style="color: #00ace5"> Hear what you have to say!</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <script src="{% static 'shows/js/responsiveslides.min.js' %}"></script>
                        <script>
                            // You can also use "$(window).load(function() {"
                            $(function() {
                                // Slideshow 4
                                $("#slider4").responsiveSlides({
                                    auto: true,
                                    pager: false,
                                    nav: true,
                                    speed: 500,
                                    namespace: "callbacks",
                                    before: function() {
                                        $('.events').append("<li>before event fired.</li>");
                                    },
                                    after: function() {
                                        $('.events').append("<li>after event fired.</li>");
                                    }
                                });

                            });
                        </script>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- Slider Banner Section Ends -->

                <div class="clearfix"></div>
            </div>
            <!--Left section end-->

            <!--Right Section-->
            <div class="music-right">
                <div class="video-main">
                    <img src="{% static 'shows/images/old.jpg' %}" style="width:100%; height: 100%; border-radius: 15px !important;">
                </div>
                <div class="apps">
                    <h3 class="hd-tittle">MyFM now available in</h3>
                    <div class="banner-button">
                        <a href="#"><img src="{% static 'shows/images/1.png' %}" alt=""></a>
                    </div>
                    <div class="banner-button green-button">
                        <a href="#"><img src="{% static 'shows/images/2.png' %}" alt=""></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Right section end-->
        </div>
        <div class="clearfix"></div>
        <!-- Top Section Header End -->

        <!-- Welcome & 3 column Section -->
        <div class="browse" style="margin-left: -18px; margin-right: -36px; opacity: 0.8;">
            <div class="col-md-12" style="width: 100%; background-color: #2d2d2d; height: 100%;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br>
                    <h1 style="color: white; text-align: center; font-size: 48px; margin-top: 50px;">Welcome to MyFM</h1>
                    <h3 style="text-align: center; color: #00ace5; margin-top: -15px;"><i>Keep Calm and Listen</i></h3>
                </div>
                <div class="col-md-4"></div>
                <div class="clearfix"></div>
                <br>

                <!-- 3 Colomns Start -->
                <div class="col-md-12" style="width: 100%">
                    <div class="col-md-4">
                        <div class="col-md-12" style="text-align: center">
                            <img src="{% static 'shows/images/radio.png' %}" style="width: 50px; height: 50px; filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);">
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="col-md-12">
                            <h3 style="text-align: center; color: #00ace5;"> Radio Now On Demand</h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p style="color: white; text-align: center;">It seems what you need is a type we call a portfolio website... I can do this for you. I build world class website with WordPress. I can build a site where I can teach you to upload or make changes yourself.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12" style="text-align: center">
                            <img src="{% static 'shows/images/play2.png' %}" style="width: 50px; height: 50px; filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);">
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="col-md-12">
                            <h3 style="text-align: center; color: #00ace5;">Play On Any Of Your Device</h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p style="color: white; text-align: center;">It seems what you need is a type we call a portfolio website... I can do this for you. I build world class website with WordPress. I can build a site where I can teach you to upload or make changes yourself.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12" style="text-align: center">
                            <img src="{% static 'shows/images/headphones.png' %}" style="width: 50px; height: 50px; filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);">
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="col-md-12">
                            <h3 style="text-align: center; color: #00ace5;">Choose What You Want To Hear</h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p style="color: white; text-align: center;">It seems what you need is a type we call a portfolio website... I can do this for you. I build world class website with WordPress. I can build a site where I can teach you to upload or make changes yourself.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 3 Columns End -->

                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
            </div>
        </div>
        <!-- Welcome & 3 column Section End -->

        <!--Parallax Section-->
        <style>
            .parallax {
                /* The image used */
                /* Set a specific height */
                height: 700px;
                /* Create the parallax scrolling effect */
                background: url("static/shows/images/parallax.jpg") no-repeat fixed center;
                background-size: cover;
                margin-left: -18px;
                margin-right: -36px;
            }
            
            @media (max-width:992px) {
                .parallax {
                    height: 300px;
                    background: url("static/shows/images/parallax.jpg") no-repeat fixed center;
                    background-size: cover;
                }
            }
        </style>
        <div class="parallax">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-top: 75px">
                    <strong><h1 class="hd-tittle" style="text-align: center; color: #b10404; font-weight: 700;">
                        <span style="font-size: 72px">"</span> 
                        We Connect you to what you want to hear! 
                        <span style="font-size: 72px">"</span>
                    </h1></strong>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--Parallax Section End-->

        <div class="browse">
            <div class="col-md-7" style="margin-top: 80px">
                <strong><h2 style="text-align: center; color:#1e171d; font-weight: 700;">
                    <span style="font-size: 36px">"</span> 
                    Don't fear on missing out on your favorite radio show, Radio is now on demand. Just tune in to your fav show anytime, anywhere, anyday. 
                    <span style="font-size: 36px">"</span>
                </h2></strong>
            </div>
            <div class="col-md-5">
                <img src="{% static 'shows/images/kid.jpg' %}" style="width: 500px; height: 300px; float: right; margin-right: -45px; border-radius: 30px !important;">
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
{% endblock %}